html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*
img {  
    width: 128px;      
    max-width: 100%;
    height: auto;
}
*/

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    padding: 0px;
    background: url("./images/backgroundimg.jpg") center/cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons button {
    border-radius: 30px;
    padding: 16px;
    background-color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header,
.footer {
    background-color: hsla(0, 0%, 0%, 0.5);
    color: hsl(42, 100%, 65%);
    font-weight: 700;
    padding: 15px 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 50px;
}

.footer {
    font-size : 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    
    width: 80%;
    padding: 0px;
    /* MARGIN BETWEEN CONTAINER AND HEADER_FOOTER */
    margin: 10% 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content */
}

.info,
.message {
    color:hsl(208, 100%, 100%);
    font-weight: 700;
    padding: 12px;
    margin: 15px;
}

.info {
    font-size: 45px;
    /* MODIFICA */
}

.message {
    font-size: 30px;
    /* MODIFICA 
        background-color: hsla(0, 0%, 0%, 0.5);

    */
}

.buttons {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}



/*
.container{
    justify-content: space-between;
    flex: 1;
}
*/


/*
.scoreboard {
    display: flex;
    justify-content: space-between;
    min-width: 750px;
    margin: 30px;
    padding: 25px;
}

.player,
.computer,
.score {
    display: flex;
}

.player,
.computer {
    min-width: 450px;
}

.score {
    flex-direction: column;
}

.info {
    color:hsl(208, 100%, 100%);
    font-weight: 700;
}

.info.title {
    padding: 0px;
    margin: 0px;
    font-size: 45px;
}

.info.para {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
}

.player {
    display: flex;
    justify-content: space-between;
}

*/