html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #fff;
}

h2,
p {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 20%;
    min-width: 210px;
    height: auto;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    padding: 0px;
    background: url("./images/backgroundimg.jpg") center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.buttons button,
.playbutton {
    border-radius: 30px;
    padding: 16px;
    background-color: hsla(0, 0%, 0%, 0.5);
    display: inline-block;
    max-width: 100%;
    height: auto;
    flex: 1;
    box-shadow: 0 20px hsl(0, 0%, 50%);
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
}

.buttons button:hover,
.playbutton:hover {
    background-color: hsla(0, 0%, 0%, 0.7);

}

.buttons button:active,
.playbutton:active {
    background-color: hsla(0, 0%, 0%, 0.7);
    ;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.playbutton {
    color: #fff;
    font-weight: 900;
    font-size: 80px;
    padding: 60px 80px;
}


.header,
.footer {
    background-color: hsla(0, 0%, 0%, 0.5);
    color: hsl(42, 100%, 65%);
    font-weight: 700;
    padding: 15px 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 50px;
}

.footer {
    font-size : 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    
    width: 80%;
    padding: 0px;
    margin-top: 3%;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result,
.description {
    color:hsl(208, 100%, 100%);
    font-weight: 700;
}

.result {
    font-size: 75px;
}

.description {
    font-size: 50px;
}

.buttons {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    width: 75%;
}

.scoreboard {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 48px;
    margin-bottom: 5%;
    margin-top: 3%;
    
}

.player,
.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerside,
.computerside {
    display: flex;
    justify-content: space-between;
    gap:12px;
    border-radius: 30px;
    padding: 16px;
    background-color: hsla(0, 0%, 0%, 0.5);
    flex: 1;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin: 0px;
    padding: 32px;
}